h1 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

body {
  background: linear-gradient(
    to right,
    rgba(39, 23, 23, 0.5),
    rgba(211, 50, 50, 0.5)
  );
}
#ava {
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 600px) {
  #ava {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#ten {
  position: absolute;
  top: 170px;
  left: 280px;
}

@media (max-width: 600px) {
  #ten {
    position: relative;
    top: 10px;
    left: 0;
    text-align: center;
  }
}
