#ava {
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
}
#ten {
  position: absolute;
  top: 170px;
  left: 280px;
}
#nen {
  width: 100%;
  height: 220px;
  background-color: aqua;
  position: absolute;
}

body {
  margin: 0px;
  background-color: bisque;
}

@media (max-width: 600px) {
  #ava {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #ten {
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  body {
    max-width: 1000px;
    margin: auto;
    position: relative;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
