h1 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

body {
  background: linear-gradient(
    to right,
    rgba(39, 23, 23, 0.5),
    rgba(211, 50, 50, 0.5)
  );
}
#ava {
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

#ten {
  position: absolute;
  top: 170px;
  left: 280px;
}
