body {
  background: linear-gradient(
    to right,
    rgba(39, 23, 23, 0.5),
    rgba(211, 50, 50, 0.5)
  );
  margin: 0px;
}

#ava {
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
#nen {
  height: 195px;
  width: 100%;
  margin: 0px;
  background-color: rgb(82, 21, 21);
  position: absolute;
}
#ten {
  margin-top: 0px;
  position: absolute;
  top: 140px;
  left: 280px;
  color: azure;
}
@media (max-width: 600px) {
  #ava {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #nen {
    top: 0px;
    height: 275px;
    border-radius: 0 0 20px 20px;
  }
  #ten {
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  body {
    max-width: 1000px;
    margin: auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2); /* optional viền */
    border-radius: 20px;
  }
  #nen {
    border-radius: 20px 20px 0 0;
  }
}
