h1 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
img1 {
  display: flex;
  justify-content: center;
}
body {
  background: linear-gradient(
    to top,
    rgba(39, 23, 23, 0.5),
    rgba(211, 50, 50, 0.5)
  );
  background-blend-mode: overlay;
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
}
